<section class="{{setModifiers "e-accordion__item" modifiers}} {{setClasses classes}}" data-require="./src/views/accordion-item-view" {{{setData data }}}>
	<div class="e-accordion__toggle" data-accordion-toggle>
		{{#block "title"}}{{/block}}
	</div>
	<div class="e-accordion__item-content-wrapper" data-accordion-content>
		{{#block "children"}}{{/block}}
	</div>
</section>
