<div class="e-account-payment-method" data-require="./src/views/account-payment-method-view">
	<div class="e-account-payment-method__type">{{type}}</div>
	<div class="e-account-payment-method__details">
		<span class="e-account-payment-method__details-cardtype">{{cardType}}</span>
		<span class="e-account-payment-method__details-cardnumber">{{cardNumber}}</span>
	</div>
	<div class="e-account-payment-method__controls">
		<a href="#" class="e-account-payment-method__controls-remove" data-account-payment-method-remove>Remove</a>
	</div>
</div>