<div class="e-book-stat-summary grid">
	<div class="e-book-stat-summary__heading grid__item one-whole">{{heading}}</div>
	<div class="grid__item one-whole">
		<dl class="grid">
			<dt class="e-book-stat-summary__label grid__item three-twelfths small--two-twelfths">ISBN:</dt>
			<dd class="e-book-stat-summary__value grid__item nine-twelfths small--ten-twelfths">{{isbn}}</dd>
			<dt class="e-book-stat-summary__label grid__item three-twelfths small--two-twelfths">PUB:</dt>
			<dd class="e-book-stat-summary__value grid__item nine-twelfths small--ten-twelfths">{{pub}}</dd>
			<dt class="e-book-stat-summary__label grid__item three-twelfths small--two-twelfths">Pages:</dt>
			<dd class="e-book-stat-summary__value grid__item nine-twelfths small--ten-twelfths">{{pages}}</dd>	
		</dl>
	</div>
</div>