<ul class="e-colours-list {{additionalClasses}}">
    {{#each this}}
        <li class="e-colours-list__item">
        	<div class="e-colours-list__swatch e-colours-list__swatch--{{this.name}}"></div>
            <span class="e-colours-list__label">{{{this.name}}}</span>
        </li>
    {{/each}}
</ul>