<a class="e-download-cta" target="_blank" href="#">
    <div class="e-download-cta__content">
        <div class="e-download-cta__heading">{{name}}</div>
        <span class="e-download-cta__file-type">{{file-type}}</span>
        {{#if icon-exists}}<span class="e-icon-list__item e-icon-list__item--icon-file-{{icon-type}} icon icon--icon-file-{{icon-type}} e-download-cta__file-icon"></span> {{/if}} 
        {{#if external-link}} <span class="e-icon-list__item e-icon-list__item--icon-external-link icon icon--icon-external-link e-download-cta__file-icon"></span> {{/if}} 
    </div>
</a>