<nav class="e-entities-nav">
	<ul class="e-entities-nav__list">
	{{#each items}}
		<li class="e-entities-nav__item">
			<a href="#" class="e-entities-nav__link" title="{{{this.title}}}">{{this.title}}</a>
		</li>
	{{/each}}
	</ul>
</nav>
