<div class="e-featured-content-item"{{#if img}} style="background-image:url({{img}});"{{/if}} data-featured-content-item>
	<div class="e-featured-content-item__content">
		<div class="e-featured-content-item__content-wrap">
			<h3 class="e-featured-content-item__title">{{title}}</h3>
			<p class="e-featured-content-item__copy">{{copy}}</p>
			{{> e-button type="anchor" colourVariant="white" text=ctaText additionalClasses="e-button" dataAttributes="" }}
		</div>
	</div>
</div>