<div class="e-global-nav grid grid--full">
	<div class="e-global-nav__content-constraint">
        <div class="grid">
            <div class="e-global-nav__col grid__item one-whole xlarge--three-fifths">
                {{> e-entities-nav items=entities-nav }}
            </div>
            <div class="e-global-nav__col e-global-nav__col--tools grid__item one-whole xlarge--two-fifths">
                {{> e-header-tools variant="desktop" }}
            </div>
        </div>
	</div>
</div>
