<nav class="e-header-tools{{#if variant}} e-header-tools--{{variant}}{{/if}}">
	<ul class="e-header-tools__list">
		<li class="e-header-tools__item">
			<a class="e-header-tools__link e-header-tools__link--collapse e-header-tools__link--cart" href="#" title="10">
				<span class="e-header-tools__cart-item-count">10</span>
				<span class="sr-only">Cart</span>
			</a>
		</li>
		<li class="e-header-tools__item e-header-tools__item--account">
			<a class="e-header-tools__link e-header-tools__link--account" href="#" title="My account">
				<span class="e-header-tools__link-label">My account</span>
			</a>
		</li>
		<li class="e-header-tools__item e-header-tools__item--cta">
			<a class="e-header-tools__link e-header-tools__link--cta" href="#" title="CTA">
				<span class="e-header-tools__link-label">CTA</span>
			</a>
		</li>
	</ul>
</nav>