<nav class="e-nav-primary" data-require="./src/views/primary-nav-view">
	<div class="e-nav-primary__wrap" data-primary-nav-wrap>
		<div class="e-nav-primary__search">
			{{> e-header-search}}
		</div>
		<ul class="e-nav-primary__list e-nav-primary__list--primary" data-primary-nav-list>
			<li class="e-nav-primary__item is--current" data-primary-nav-item data-primary-nav-root data-nav-level="0">
				<a href="#" class="e-nav-primary__link" title="Practice &amp; Policy" data-primary-nav-trigger>
					<span class="e-nav-primary__link-text">Practice &amp; Policy</span>
				</a>
			</li>
			<li class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="1">
				<a href="#" class="e-nav-primary__link" title="Certification" data-primary-nav-trigger>
					<span class="e-nav-primary__link-text">Certification</span>
				</a>
				<div class="e-nav-primary__panel" data-primary-nav-tray data-primary-nav-panel>
					<div class="e-nav-primary__grid-constraint">
						<ul class="e-nav-primary__list e-nav-primary__list--secondary grid">
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Services Level 1" data-primary-nav-trigger>Services Level 1</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 1 A">Services Level 1 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 1 B">Services Level 1 B</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 1 C">Services Level 1 C</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 1 D">Services Level 1 D</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 1 E">Services Level 1 E</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 1 F">Services Level 1 F</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Services Level 2" data-primary-nav-trigger>Services level 2</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 2 A">Services Level 2 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 2 B">Services Level 2 B</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 2 C">Services Level 2 C</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 2 D">Services Level 2 D</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 2 E">Services Level 2 E</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Services Level 3" data-primary-nav-trigger>Services level 3</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 3 A">Services Level 3 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Services Level 3 B">Services Level 3 B</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Services Level 4">Services level 4</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="1">
				<a href="#" class="e-nav-primary__link" title="Membership" data-primary-nav-trigger>
					<span class="e-nav-primary__link-text">Membership</span>
				</a>
				<div class="e-nav-primary__panel" data-primary-nav-tray data-primary-nav-panel>
					<div class="e-nav-primary__grid-constraint">
						<ul class="e-nav-primary__list e-nav-primary__list--secondary grid">
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Membership Level 1" data-primary-nav-trigger>Membership Level 1</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 A">Membership Level 1 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 B">Membership Level 1 B</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 C">Membership Level 1 C</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 D">Membership Level 1 D</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 E">Membership Level 1 E</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 F">Membership Level 1 F</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Membership Level 2" data-primary-nav-trigger>Membership level 2</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 A">Membership Level 1 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 B">Membership Level 1 B</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 C">Membership Level 1 C</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 D">Membership Level 1 D</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 E">Membership Level 1 E</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 F">Membership Level 1 F</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Membership Level 2" data-primary-nav-trigger>Membership level 2</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 A">Membership Level 1 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 B">Membership Level 1 B</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 C">Membership Level 1 C</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 D">Membership Level 1 D</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 E">Membership Level 1 E</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 F">Membership Level 1 F</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="e-nav-primary__col grid__item">
								<div class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="2">
									<a class="e-nav-primary__link" href="#" title="Membership Level 2" data-primary-nav-trigger>Membership level 2</a>
									<ul class="e-nav-primary__list e-nav-primary__list--tertiary" data-primary-nav-tray>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 A">Membership Level 1 A</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 B">Membership Level 1 B</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 C">Membership Level 1 C</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 D">Membership Level 1 D</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 E">Membership Level 1 E</a>
										</li>
										<li class="e-nav-primary__item" data-primary-nav-item data-nav-level="3">
											<a class="e-nav-primary__link" href="#" title="Membership Level 1 F">Membership Level 1 F</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="1">
				<a href="#" class="e-nav-primary__link" title="Organizational Programs" data-primary-nav-trigger>
					<span class="e-nav-primary__link-text">Organizational Programs</span>
				</a>
			</li>
			<li class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="1">
				<a href="#" class="e-nav-primary__link" title="Education &amp; Events" data-primary-nav-trigger>
					<span class="e-nav-primary__link-text">Education &amp; Events</span>
				</a>
			</li>
			<li class="e-nav-primary__item e-nav-primary__item--has-children" data-primary-nav-item data-nav-level="1">
				<a href="#" class="e-nav-primary__link" title="Get Involved" data-primary-nav-trigger>
					<span class="e-nav-primary__link-text">Get Involved</span>
				</a>
			</li>
			<li class="e-nav-primary__item">
				<a class="e-header-tools__link e-header-tools__link--cta e-header-tools__link--cta-mobile" href="#" target="@Model.Layout.CtaTarget" title="Donate">
					<span class="e-header-tools__link-label">Donate</span>
				</a>
			</li>
		</ul>
	</div>
</nav>