<form class="e-newsletter-signup">
	<p class="e-newsletter-signup__copy">
		<strong>For the latest news, offers and ideas, sign up to our newsletter</strong>
	</p>
	<label class="e-newsletter-signup__label sr-only">Your email address</label>
	<input class="e-newsletter-signup__email" type="email" placeholder="Enter your email here" />
	{{> e-button variant="goldondark" type="submit" text="Sign up" additionalClasses="e-newsletter-signup__submit" }}
</form>