<div class="e-payment-details grid" data-require="./src/views/payment-details-view">
	<div class="e-payment-details__section grid__item one-whole large--three-quarters" data-checkout-payment-method-panel-saved>
		<label class="e-form__label e-form__label--select" for="{{selectId}}" data-formfield>
			<select class="e-form__input e-form__input--select" name="sg-dropdown" id="{{selectId}}" placeholder="placeholder..." data-checkout-payment-method-select>
				<option value="e-form__input e-form__input--option" selected="">No payment methods found</option>
			</select>
			<span class="e-form__label-text">Choose a saved card</span>
		</label>
		<div class="grid">
			<div class="grid__item one-whole large--one-half">
				<label class="e-payment-details__security e-form__label e-form__label--text" for="security-code" data-formfield>
					<span class="e-form__label-text" data-fake-placeholder>Security Code</span>
					<input type="text" name="security-code" class="e-form__input e-form__input--text" title="Security Code" data-formfield-text data-validate data-validate-required data-validate-digits data-validate-minlength="3" data-validate-maxlength="4">
					<span class="e-payment-details__security-info" data-payment-details-security-info></span>
				</label>
				<div class="e-form__validation-errors" data-validation-error data-validation-for="security-code"></div>
			</div>
		</div>
		<a href="#" class="e-payment-details__action e-payment-details__action--add" data-checkout-payment-method-add>
			<span>+</span> Add a new card
		</a>
	</div>
	<div class="e-payment-details__section grid__item one-whole large--three-quarters" data-checkout-payment-method-panel-add>
		<div class="e-payment-details__border-row e-payment-details__border-row--double">
			<label class="e-form__label e-form__label--select" for="apm-cardtype" data-formfield>
				<span class="e-form__label-text">Card type</span>
				<select class="e-form__input e-form__input--select" name="apm-cardtype" id="apm-cardtype" placeholder="please select" data-payment-method-cardtype>
					<option class="e-form__input e-form__input--option" value="mastercard" selected="">MasterCard</option>
					<option class="e-form__input e-form__input--option" value="visa">VISA</option>
					<option class="e-form__input e-form__input--option" value="americanexpress">American Express</option>
				</select>
			</label>
			<label for="apm-cardholdername" class="e-form__label e-form__label--text" data-formfield>
				<span class="e-form__label-text" data-fake-placeholder>Card holder's name</span>
				<input type="text" name="apm-cardholdername" class="e-form__input e-form__input--text" title="apm-cardholdername" data-formfield-text data-validate data-validate-required data-payment-method-cardholder data-validate-ignore>
			</label>
			<div class="e-form__validation-errors" data-validation-error data-validation-for="apm-cardholdername"></div>
			<label for="apm-cardnumber" class="e-form__label e-form__label--text" data-formfield>
				<span class="e-form__label-text" data-fake-placeholder>Card number</span>
				<input type="text" name="apm-cardnumber" class="e-form__input e-form__input--text" title="apm-cardnumber" inputmode="numeric" autocomplete="cc-number" data-formfield-text data-validate data-validate-required data-validate-digits data-validate-minlength="14" data-validate-maxlength="16" data-payment-method-cardnumber data-validate-ignore>
			</label>
			<div class="e-form__validation-errors" data-validation-error data-validation-for="apm-cardnumber"></div>
		</div>
		<div class="grid grid--full">
			<div class="grid__item e-payment-details__border-row e-payment-details__border-row--flush">
				<div class="grid">
					<div class="grid__item one-half medium--one-quarter">
						<label class="e-payment-details__vspaced e-form__label e-form__label--select" for="apm-expiry-month" data-formfield>
							<span class="e-form__label-text">Start date</span>
							<select class="e-form__input e-form__input--select" name="apm-expiry-month" id="apm-expiry-month" placeholder="MM" data-payment-method-expiry-month>
								<option class="e-form__input e-form__input--option" value="jan" selected="">Jan</option>
								<option class="e-form__input e-form__input--option" value="feb">Feb</option>
								<option class="e-form__input e-form__input--option" value="mar">Mar</option>
								<option class="e-form__input e-form__input--option" value="apr">Apr</option>
								<option class="e-form__input e-form__input--option" value="may">May</option>
								<option class="e-form__input e-form__input--option" value="jun">Jun</option>
								<option class="e-form__input e-form__input--option" value="jul">Jul</option>
								<option class="e-form__input e-form__input--option" value="aug">Aug</option>
								<option class="e-form__input e-form__input--option" value="sep">Sep</option>
								<option class="e-form__input e-form__input--option" value="oct">Oct</option>
								<option class="e-form__input e-form__input--option" value="nov">Nov</option>
								<option class="e-form__input e-form__input--option" value="dec">Dec</option>
							</select>
						</label>
					</div>
					<div class="grid__item one-half medium--one-quarter">
						<label class="e-payment-details__vspaced e-form__label e-form__label--select" for="apm-expiry-year" data-formfield>
							<span class="e-form__label-text"></span>
							<select class="e-form__input e-form__input--select" name="apm-expiry-year" id="apm-expiry-year" placeholder="YY" data-payment-method-expiry-year>
								<option class="e-form__input e-form__input--option" value="2017" selected="">2017</option>
								<option class="e-form__input e-form__input--option" value="2018">2018</option>
								<option class="e-form__input e-form__input--option" value="2019">2019</option>
								<option class="e-form__input e-form__input--option" value="2020">2020</option>
								<option class="e-form__input e-form__input--option" value="2021">2021</option>
							</select>
						</label>
					</div>
					<div class="grid__item one-whole medium--one-half">
						<label class="e-payment-details__vspaced e-payment-details__security e-form__label e-form__label--text" for="apm-security-code" data-formfield>
							<span class="e-form__label-text" data-fake-placeholder>Security Code</span>
							<input type="text" name="apm-security-code" class="e-form__input e-form__input--text" title="Security Code" data-formfield-text data-validate data-validate-required data-validate-digits data-validate-minlength="3" data-validate-maxlength="4" data-validate-ignore>
							<span class="e-payment-details__security-info" data-payment-details-security-info></span>
						</label>
						<div class="e-form__validation-errors" data-validation-error data-validation-for="apm-security-code"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="e-payment-details__border-row e-payment-details__border-row--save">
			<label class="e-payment-details__checkbox e-form__label e-form__label--checkbox e-form__label--checkbox-left" for="apm-savecard" data-formfield>
				<span class="e-form__label-text">Save card for future use</span>
				<input type="checkbox" class="e-form__input e-form__input--checkbox" id="apm-savecard" name="apm-save" title="Checkboxes legend" data-validate data-validate-required data-save-payment-method data-payment-method-savedetails data-validate-ignore>
				<span class="e-form__fake-checkbox"></span>
			</label>
		</div>
		<a href="#" class="e-payment-details__action e-payment-details__action--saved" data-checkout-payment-method-saved>
			<span>+</span> Use a saved card
		</a>
	</div>
</div>