<nav class="e-pagination {{additional-class}}">
    <span class="e-pagination__dir e-pagination__dir--disabled e-pagination__dir--prev">
        <span class="sr-only">Previous</span>
    </span>

    <div class="e-pagination__list">
        <span class="e-pagination__list-item">2</span> of <span class="e-pagination__list-item">6</span>
    </div>

    <a href="#" class="e-pagination__dir e-pagination__dir--next">
        <span class="sr-only">Next</span>
    </a>
</nav>
