<div class="e-price">
    <dl class="e-price__item">
        <dd class="e-price__item-label">List Price:</dd>
        <dd class="e-price__item-value">{{#if type}}{{type}} {{/if}}${{standardPrice}}</dd>
    </dl>
    <dl class="e-price__item">
        <dd class="e-price__item-label">ANA Member Price:</dd>
        <dd class="e-price__item-value">{{#if type}}{{type}} {{/if}}${{memberPrice}}</dd>
    </dl>
</div>