<div class="e-quantity-selector">
	<div class="e-quantity-selector__content">
		<label for="{{id}}" class="e-form__label e-quantity-selector__field">
			<input type="number" name="{{id}}" class="e-form__input e-form__input--text e-quantity-selector__input" value="{{quantity}}" min="1" data-quantity-selector-input />
		</label>
		<a class="e-quantity-selector__nav e-quantity-selector__nav--dec" data-quantity-selector-decrease>
			<span class="e-quantity-selector__nav-text">Decrease quantity</span>
		</a>
		<a class="e-quantity-selector__nav e-quantity-selector__nav--inc" data-quantity-selector-increase>
			<span class="e-quantity-selector__nav-text">Increase quantity</span>
		</a>
	</div>
	<a class="e-quantity-selector__remove" data-quantity-selector-remove>Remove</a>
</div>
