<div class="e-search-box{{#if variant}} e-search-box--{{variant}}{{/if}}" data-require="./src/views/search-box-view" data-search-endpoint="/example-url">
	<input class="e-search-box__input" type="text" id="header-search-input" data-search-input />
	<span class="e-search-box__fake-placeholder">
		<span class="e-search-box__fake-placeholder-text">Search</span>
	</span>
	<button type="submit" class="e-search-box__btn-search" data-search-submit>
		<span class="e-search-box__btn-search-text">Search</span>
	</button>
</div>