<a href="/frontend/build/index.html" class="e-site-logo">
	<img class="e-site-logo__img" src="{{img}}" alt="American Nurses Association Logo" width="153" height="40" />
    <span class="sr-only">ANA logo</span>
</a>
