<div class="e-state-org-item grid" data-location-results>
	<div class="grid__item one-whole">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__name" data-location-results-name>Organisation name</h3>
			<a href="#" target="_blank" class="e-state-org-item__map-link" data-view-on-map-link>View on map</a>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Key Personnel:</h3>
			<ul class="e-state-org-item__info-list" data-location-results-key-personnel>
				<li class="e-state-org-item__info-list-item">President: President's name</li>
				<li class="e-state-org-item__info-list-item">Other person: Other person's name</li>
			</ul>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Address:</h3>
			<ul class="e-state-org-item__info-list" data-location-results-address>
				<li class="e-state-org-item__info-list-item">Address line one</li>
				<li class="e-state-org-item__info-list-item">Address line two</li>
				<li class="e-state-org-item__info-list-item">Address line three</li>
				<li class="e-state-org-item__info-list-item">State</li>
				<li class="e-state-org-item__info-list-item">Zip Code</li>
			</ul>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Web:</h3>
			<a href="#" class="e-state-org-item__info-item e-state-org-item__info-item--link" data-location-results-website>organisation.com</a>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Phone:</h3>
			<a href="tel:00000111222" class="e-state-org-item__info-item e-state-org-item__info-item--link" data-location-results-phone>00000111222</a>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Email:</h3>
			<a href="mailto:test@test.com" class="e-state-org-item__info-item e-state-org-item__info-item--link" data-location-results-email>email@address.com</a>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Fax:</h3>
			<a href="fax:00000111333" class="e-state-org-item__info-item e-state-org-item__info-item--link" data-location-results-fax>00000111333</a>
		</div>
	</div>
	<div class="grid__item one-whole large--one-half">
		<div class="e-state-org-item__section">
			<h3 class="e-state-org-item__info-title">Opening hours:</h3>
			<div class="e-state-org-item__info-item" data-location-results-opening-hours>Mon-Fri, 8.30-17.00</div>
		</div>
	</div>
</div>