<ul class="e-typography-list{{#if font}} e-typography-list--{{font}}{{/if}} {{additionalClasses}}">
    {{#each this}}
        <li class="e-typography-list__item">
            <span class="e-typography-list__label{{#if class}} {{class}}{{/if}}">{{name}}</span>
        </li>
    {{/each}}
</ul>