<div class="c-account-address" data-require="./src/views/account-address-view">
	<div data-address-output>
		{{> c-address this }}
	</div>
	<div class="c-account-address__controls">
		<a href="#" class="c-account-address__control" data-address-remove>Remove</a>
		<a href="#" class="c-account-address__control" data-address-edit>edit</a>
	</div>
</div>