
{{#if block-class}}
<div class="block {{block-class}}">
{{/if}}

<section class="grid-constraint">
    <div class="grid">
        <div class="grid__item {{grid-class}}">

            {{#if heading}}
            <h2>
                {{heading}}
            </h2>
            {{/if}}

            <div class="e-richtext">
                {{{richtext}}}
            </div>

        </div>
    </div>

</section>

{{#if block-class}}
</div>
{{/if}}