
{{#if block-class}}
<div class="block featuredcontentblock {{block-class}}">
{{/if}}

<article class="c-featured-content"{{#if img}} style="background-image:url({{img}});"{{/if}} data-auto-expand-at-mobile>
    <div class="c-featured-content__content">
        <div class="c-featured-content__content-wrap">
            <h3 class="c-featured-content__title">{{title}}</h3>
            <p class="c-featured-content__copy">{{copy}}</p>
            {{> e-button type="anchor" colourVariant="white" text=ctaText additionalClasses="e-button" dataAttributes="" }}
        </div>
    </div>
</article>

{{#if block-class}}
</div>
{{/if}}