<div class="c-foundation-popup" data-foundation-popup data-js-view="./src/views/foundation-popup-view">
	<h4>You are now leaving the American Nurses Foundation</h4>
	<p>The American Nurses Foundation is a separate charitable organization under Section 501(c)(3) of the Internal Revenue Code. The Foundation does not engage in political campaign activities or communications.</p>
	<p>The Foundation expressly disclaims any political views or communications published on or accessible from this website.</p>
	{{> e-button type="anchor" colourVariant="blue" text="Continue" additionalClasses="e-button c-foundation-popup__button" dataAttributes="data-foundation-popup-continue" }}
	{{> e-button type="anchor" colourVariant="blue" text="Cancel" additionalClasses="e-button c-foundation-popup__button" dataAttributes="data-modal-close" }}
</div>