<div class="c-grid-overlay" data-require="./src/views/grid-overlay-view">
   <div class="c-grid-overlay__inner">
        <div class="c-grid-overlay__grid grid">
            <div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div>
            <div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div><div class="c-grid-overlay__col grid__item one-twelfth"><div class="c-grid-overlay__col-fill"></div></div>
        </div>
    </div>
</div>