---
title: Foundation popup example
---

<div class="block" data-foundation-page>

	<div class="grid-constraint">
		
		<div class="grid">
			<div class="grid__item one-whole">
				{{> c-breadcrumb breadcrumb}}
			</div>
		</div>

		<div class="block block--vs-none grid grid--full">
			<div class="grid__item one-whole medium--eight-twelfths push--medium--four-twelfths">
				<h2>My Account</h2>
			</div>
		</div>

		<div class="block grid">

			<div class="grid__item one-whole">
				
				<h1>Heading</h1>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
				<a href="/foundation/page.html">Internal link</a>
				<a href="/externalpage.html">External link</a>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</div>

		</div>
	</div>
</div>

{{> c-foundation-popup }}
