---
title: Homepage
---

{{> c-hero-carousel items=hero.items modifier='tabs' }}

<div class="containerblock">
	<section>
		<div class="grid-constraint">
			<div class="grid grid--center">
				<div class="grid__item one-whole">
					<h2 class="containerblock__heading">
	                    <span>Lorem Ipsum</span>
	                </h2>
				</div>
			</div>
			<div class="grid grid--full">
		        <div class="grid__item">
		            <div class="grid grid--wide">
		                <div class="grid__item large--one-third">
		                	<div class="block block--full">
			                    {{> c-cta-block data=cta-block.[5]}}
			                </div>
		                </div>
		                <div class="grid__item large--one-third">
		                	<div class="block block--full">
			                    {{> c-cta-block data=cta-block.[6]}}
							</div>
		                </div>
		                <div class="grid__item large--one-third">
		                	<div class="block block--full">
			                    {{> c-cta-block data=cta-block.[7]}}
			                </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</section>
</div>

<div class="block containerblock">
	<section>
		{{> c-promo-block promo-block}}
	</section>
</div>

<div class="block containerblock">
	<section>
		<div class="grid-constraint">
			<div class="grid grid--center">
				<div class="grid__item one-whole">
					<h2 class="containerblock__heading">
	                    <span>lorem ipsum dolor</span>
	                </h2>
				</div>
			</div>
			<div class="grid grid--full">
		        <div class="grid__item">
		            <div class="grid grid--wide">
		                <div class="grid__item large--one-third">
		                    {{> c-cta-block data=cta-block.[0]}}
		                </div>
		                <div class="grid__item large--one-third">
		                    {{> c-cta-block data=cta-block.[0]}}
		                </div>
		                <div class="grid__item large--one-third">
		                    {{> c-cta-block data=cta-block.[0]}}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</section>
</div>

<div class="block containerblock">
	<section>
		<div class="grid-constraint">
			<div class="grid grid--center">
	            <div class="grid__item one-whole">
	                <h2 class="containerblock__heading">
	                    <span>Dolor sit amet</span>
	                </h2>
	            </div>
	            <div class="grid__item e-richtext large--two-thirds xpush--large--one-sixth containerblock__intro">
	                <p>The mission of the American Nurses Credentialing Center (ANCC), a subsidiary of the American Nurses Association (ANA), is to promote excellence in nursing and health care globally through credentialing programs. ANCC's internationally renowned credentialing programs certify and recognize individual nurses in specialty practice areas; recognize healthcare organizations for promoting safe, positive work environments; and accredit continuing nursing education organizations.</p>
	            </div>
	        </div>
	        <div class="grid">
	            <div class="grid__item one-whole">
					{{> c-featured-content featured-content.[0] }}					
				</div>
	        </div>
		</div>
	</section>
</div>

<div class="containerblock">
	<section>
		<div class="grid-constraint">
			<div class="grid grid--center">
				<div class="grid__item one-whole">
					<h2 class="containerblock__heading">
	                    <span>Sed dolorets</span>
	                </h2>
				</div>
			</div>
			<div class="grid grid--full">
		        <div class="grid__item">
		            <div class="grid grid--wide">
		                <div class="grid__item large--one-third">
		                	<div class="block block--full">
			                    {{> c-cta-block data=cta-block.[5]}}
							</div>
		                </div>
		                <div class="grid__item large--one-third">
		                	<div class="block block--full">
			                    {{> c-cta-block data=cta-block.[6]}}
			                </div>
		                </div>
		                <div class="grid__item large--one-third">
		                    <div class="block block--full">
			                    {{> c-cta-block data=cta-block.[7]}}
			                </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</section>
</div>