---
title: search results page
---

<div class="containerblock b-vs--large">
	<section>
	    <div class="grid-constraint">
	        <div class="grid grid--center">
	            <div class="grid__item one-whole">
	                <h2 class="containerblock__heading">
	                    <span>Search results</span>
	                </h2>
	            </div>
	        </div>
	    </div>
	    {{> c-search-results }}
	    {{> e-pagination }}
	</section>
</div>
