---
title: Vertical spacing
---

<div class="block block--full block--vs-none">
	{{> c-hero content=hero.items.[0] }}
</div>

<div class="block block--vs-small">
	{{> c-breadcrumb breadcrumb}}
</div>

<div class="block containerblock">
	<section>
	    <div class="grid-constraint">
	        <div class="grid grid--center">
	            <div class="grid__item one-whole">
	                <h2 class="containerblock__heading">
	                    <span>Container block heading</span>
	                </h2>
	            </div>
	            <div class="grid__item e-richtext large--two-thirds xpush--large--one-sixth containerblock__intro">
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat.</p>
	                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
	                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            </div>
	        </div>
	    </div>
		{{> c-search-results }}
		{{> e-pagination }}
	</section>
</div>

<div class="block">
	{{> e-accordion data=accordion }}
</div>

<div class="block">
	{{> c-cta-block cta-block.[0]}}
</div>

<div class="block">
	{{> c-featured-content featured-content.[0] }}
</div>

<div class="block">
	{{> c-join-promo-block join-promo-block.[0]}}
</div>

<div class="block">
	{{> e-link-list data=link }}
</div>

<div class="block block--full">
	{{> c-media-block data=media-block.[0]}}
</div>

<div class="block">
	{{> c-person person.[0]}}
</div>

<div class="block">
	{{> c-product-detail-form}}
</div>

<div class="block">
	{{> c-product-page-detail product-page-detail.[0]}}
</div>

<div class="block">
	{{> c-promo-block promo-block}}
</div>

<div class="block block--full">
	{{> c-image imagery.[0] }}
</div>

<div class="block">
	{{> c-tab-control tab-control}}
</div>

<div class="block">
	{{> e-responsive-table tables}}
</div>

<div class="block">
	{{> c-testimonial testimonial=testimonials.[0]}}
</div>
