<div data-lightbox-src="addressedit">
	<h3 data-lightbox-heading></h3>
	<form class="e-form" data-require="./src/views/form-view" data-ajax-form>

		<input data-address-input-address-id="" data-val="true" data-val-number="The field AddressId must be a number." data-val-required="The AddressId field is required." id="LightboxAddress_AddressId" name="LightboxAddress.AddressId" type="hidden" value="0" />
        
        <label for="LightboxAddress_Name" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Name</span>
            <input class="e-form__input e-form__input--text" data-address-input-name="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxAddress_Name" name="LightboxAddress.Name" title="Name" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_Name"></div>
        
        <label for="LightboxAddress_Address1" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Line 1</span>
            <input class="e-form__input e-form__input--text" data-address-input-address-1="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxAddress_Address1" name="LightboxAddress.Address1" title="Line 1" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_Address1"></div>
        
        <label for="LightboxAddress_Address2" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Line 2</span>
            <input class="e-form__input e-form__input--text" data-address-input-address-2="" data-formfield-text="" id="LightboxAddress_Address2" name="LightboxAddress.Address2" title="Line 2" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_Address2"></div>
        
        <label for="LightboxAddress_Address3" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Line 3</span>
            <input class="e-form__input e-form__input--text" data-address-input-address-3="" data-formfield-text="" id="LightboxAddress_Address3" name="LightboxAddress.Address3" title="Line 3" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_Address3"></div>
        
        <label for="LightboxAddress_City" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">City</span>
            <input class="e-form__input e-form__input--text" data-address-input-city="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxAddress_City" name="LightboxAddress.City" title="City" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_City"></div>
        
        <label for="LightboxAddress_State" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">State</span>
            <input class="e-form__input e-form__input--text" data-address-input-state="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxAddress_State" name="LightboxAddress.State" title="State" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_State"></div>
        
        <label for="LightboxAddress_ZipCode" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Zip code</span>
            <input class="e-form__input e-form__input--text" data-address-input-zipcode="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxAddress_ZipCode" name="LightboxAddress.ZipCode" title="Zip code" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_ZipCode"></div>
        
        <label for="LightboxAddress_Country" class="e-form__label e-form__label--select" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder=""></span>
            <select class="e-form__input e-form__input--select" data-address-input-country="" id="LightboxAddress_Country" name="LightboxAddress.Country" title=""></select>
        </label>
        
        <label for="LightboxAddress_DefaultBillingAddress" class="e-form__label e-form__label--checkbox e-form__label--checkbox--block e-form__label--checkbox--left" data-formfield="">
            <span class="e-form__label-text" data-lightbox-default-address-text>Make this my default billing address</span>
            <input type="checkbox" class="e-form__input e-form__input--checkbox" id="LightboxAddress_DefaultBillingAddress" name="LightboxAddress.DefaultBillingAddress" title="Make this my default billing address" data-validate="" data-address-input-default-billing>
            <span class="e-form__fake-checkbox"></span>
        </label>
       
        <label for="LightboxAddress_DefaultShippingAddress" class="e-form__label e-form__label--checkbox e-form__label--checkbox--block e-form__label--checkbox--left" data-formfield="">
            <span class="e-form__label-text" data-lightbox-default-address-text>Make this my default shipping address</span>
            <input type="checkbox" class="e-form__input e-form__input--checkbox" id="LightboxAddress_DefaultShippingAddress" name="LightboxAddress.DefaultShippingAddress" title="Make this my default shipping address" data-validate="" data-address-input-default-shipping>
            <span class="e-form__fake-checkbox"></span>
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_DefaultShippingAddress"></div>
        
        <label for="LightboxAddress_Phone1" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Phone 1</span>
            <input class="e-form__input e-form__input--text" data-address-input-phone-1="" data-formfield-text="" data-validate="" data-validate-digits="" id="LightboxAddress_Phone1" name="LightboxAddress.Phone1" title="Phone 1" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_Phone1"></div>
        
        <label for="LightboxAddress_Phone2" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Phone 2</span>
            <input class="e-form__input e-form__input--text" data-address-input-phone-2="" data-formfield-text="" data-validate="" data-validate-digits="" id="LightboxAddress_Phone2" name="LightboxAddress.Phone2" title="Phone 2" type="text" value="" />
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxAddress_Phone2"></div>

        <input class="e-button e-button--submit e-button--blue e-form__submit" type="submit" value="Submit" data-submit-address>

	</form>
</div>