<div data-lightbox-src="securityInfo">
	<h3>Security code</h3>
	<p>Your security code (CVV) is a 3 digit number located on the back of your card (for American Express cards, this is a 4 digit number on the front of the card) which proves you are in physical possession of the card. <a href="https://www.cvvnumber.com/" target="_blank">Read more</a></p>
	<a href="#" class="e-button e-button--anchor e-button--blue e-button" data-modal-close>OK</a>
</div>