<div data-lightbox-src="statusInfo">
	<h3>Payment method status:</h3><ul><li><strong>Not verified:</strong> This payment method has not yet been verified and cannot be used. Please verify the details in order to use this method.</li><li><strong>Verified:</strong> This payment method is verified and ready for use.</li></ul><a href="#" class="e-button e-button--anchor e-button--blue e-button" data-modal-close>OK</a>
</div>