<div data-lightbox-src="confirmremoveitem">
	<h3>Confirm removal</h3>
	<p>Are you sure you would like to remove this item from your shopping cart?</p>
	{{> e-button type="anchor" colourVariant="blue" text="Confirm" additionalClasses="e-button" dataAttributes="data-confirm-remove" }}
	{{> e-button type="anchor" colourVariant="blue" text="Cancel" additionalClasses="e-button" dataAttributes="data-cancel-remove" }}
</div>