<div data-lightbox-src="membershipedit">
	<h3 data-lightbox-heading="">Edit membership</h3>
    <form class="e-form" data-require="./src/views/form-view" data-ajax-form="" novalidate="novalidate">
        <input data-membership-input-customer-id="" data-val="true" data-val-number="The field CustomerId must be a number." data-val-required="The CustomerId field is required." id="LightboxAddress_CustomerId" name="LightboxAddress.CustomerId" type="hidden" value="">
        <label for="LightboxMembership_Association" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Association</span>
            <input class="e-form__input e-form__input--text has--content" data-membership-input-association="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxMembership_Association" Association="LightboxMembership.Association" title="Association" type="text" value="" aria-invalid="false">
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxMembership_Association"></div>
        <label for="LightboxMembership_MembershipId" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Membership Id</span>
            <input class="e-form__input e-form__input--text has--content" data-membership-input-id="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxMembership_MembershipId" MembershipId="LightboxMembership.MembershipId" title="MembershipId" type="text" value="" aria-invalid="false">
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxMembership_MembershipId"></div>
        <label for="LightboxMembership_StartDate" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">Start Date</span>
            <input class="e-form__input e-form__input--text has--content" data-membership-input-start-date="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxMembership_StartDate" StartDate="LightboxMembership.StartDate" title="StartDate" type="text" value="" aria-invalid="false">
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxMembership_StartDate"></div>
        <label for="LightboxMembership_EndDate" class="e-form__label e-form__label--text" data-formfield="">
            <span class="e-form__label-text" data-fake-placeholder="">End Date</span>
            <input class="e-form__input e-form__input--text has--content" data-membership-input-end-date="" data-formfield-text="" data-validate="" data-validate-required="" id="LightboxMembership_EndDate" EndDate="LightboxMembership.EndDate" title="EndDate" type="text" value="" aria-invalid="false">
        </label>
        <div class="e-form__validation-errors" data-validation-error="" data-validation-for="LightboxMembership_EndDate"></div>
        <input class="e-button e-button--submit e-button--blue e-form__submit" type="submit" value="Submit" data-submit-membership="">
    </form>
</div>