
<h2>Inputs</h2>
{{> e-button type="submit" colourVariant="blue" text="Submit" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="submit" colourVariant="white" text="Submit" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="submit" colourVariant="white-light" text="Submit" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="submit" colourVariant="orange" text="Submit" additionalClasses="e-button" dataAttributes="" }}

<h2>Buttons</h2>
{{> e-button type="button" colourVariant="blue" text="Button" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="button" colourVariant="white" text="Button" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="button" colourVariant="white-light" text="Button" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="button" colourVariant="orange" text="Button" additionalClasses="e-button" dataAttributes="" }}

<h2>Links</h2>
{{> e-button type="anchor" colourVariant="blue" text="Anchor" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="anchor" colourVariant="white" text="Anchor" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="anchor" colourVariant="white-light" text="Anchor" additionalClasses="e-button" dataAttributes="" }}
{{> e-button type="anchor" colourVariant="orange" text="Anchor" additionalClasses="e-button" dataAttributes="" }}


<div class="grid" style="margin-left: 0;">
	<div class="grid__item">
		<h2>Inputs (full width variant)</h2>
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="submit" colourVariant="blue" text="Submit" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="submit" colourVariant="white" text="Submit" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="submit" colourVariant="white-light" text="Submit" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="submit" colourVariant="orange" text="Submit" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		<h2>Buttons (full width variant)</h2>
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="button" colourVariant="blue" text="Button" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="button" colourVariant="white" text="Button" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="button" colourVariant="white-light" text="Button" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="button" colourVariant="orange" text="Button" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		<h2>Links (full width variant)</h2>
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="anchor" colourVariant="blue" text="Anchor" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="anchor" colourVariant="white" text="Anchor" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="anchor" colourVariant="white-light" text="Anchor" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
	<div class="grid__item block block--vs-small">
		{{> e-button type="anchor" colourVariant="orange" text="Anchor" additionalClasses="e-button" modifier="full" dataAttributes="" }}		
	</div>
</div>
