<div class="block containerblock">
	<h2>Order items</h2>
    {{> c-order-item order-detail.items.[0] }}
    {{> c-order-item order-detail.items.[1] }}

    <h2>Order item bundle</h2>
    {{> c-order-item order-detail.items.[3] }}
</div>
