<section class="grid-constraint">
	<div class="grid">
		<div class="grid__item one-whole">
			<h4 class="c-product-search-form__title">
				<span class="c-product-search-form__title-copy--desktop">Filter by:</span> 
				<span class="c-product-search-form__title-copy--mobile">24 results</span> 
			</h4>
		</div>
	</div>
	<div class="grid">
		<div class="grid__item one-whole">
			{{> c-product-detail-form}}
		</div>		
	</div>
</section>