<h2><br />Full Width</h2>
{{> c-promo-block promo-block}}

<h2><br />12 Column</h2>
<div class="grid-constraint">
	<div class="grid">
		<div class="grid__item one-whole">
			{{> c-promo-block promo-block}}
		</div>
	</div>
</div>

<h2><br />Full Width - Single Slide / No Carousel</h2>
{{> c-promo-block promo-block.[0]}}

<h2><br />12 Column - Single Slide / No Carousel</h2>
<div class="grid-constraint">
	<div class="grid">
		<div class="grid__item one-whole">
			{{> c-promo-block promo-block.[0]}}
		</div>
	</div>
</div>
