<h1><br/>Responsive imagery</h1>

<div class="block containerblock">
    <div class="grid-constraint">
        <div class="grid">
            <div class="grid__item one-whole">
				{{> c-image imagery.[0] }}
            </div>
        </div>
    </div>
</div>

<h1><br/>Responsive imagery - Full</h1>
<div class="block containerblock">
	{{> c-image imagery.[0] }}
</div>


<h1><br/>Responsive imagery - Inline</h1>
<div class="block containerblock">
    <div class="grid-constraint">
        <div class="grid">
            <div class="grid__item one-whole">
				{{> c-image imagery.[1] }}
            </div>
        </div>
    </div>
</div>

<h1><br/>Responsive imagery - Inline - No Caption</h1>
<div class="block containerblock">
	{{> c-image imagery.[2] }}
</div>