<h2><br/>Full Width</h2>
<div class="grid grid--center">
	<div class="grid-constraint">
		<div class="grid__item one-whole">
			{{> e-responsive-table tables}}
		</div>
	</div>
</div>

<h2><br/>Restrained</h2>
<div class="grid grid--center">
	<div class="grid-constraint">
		<div class="grid__item one-whole medium--two-thirds">
			{{> e-responsive-table tables}}
		</div>
	</div>
</div>

<h2><br/>Full Width - Fixed Layout</h2>
<div class="grid grid--center">
	<div class="grid-constraint">
		<div class="grid__item one-whole">
			{{> e-responsive-table tables fixed=true}}
		</div>
	</div>
</div>

<h2><br/>Restrained - Fixed Layout</h2>
<div class="grid grid--center">
	<div class="grid-constraint">
		<div class="grid__item one-whole medium--two-thirds">
			{{> e-responsive-table tables fixed=true}}
		</div>
	</div>
</div>