<h1>Vertical spacing</h1>
<div class="c-demo-block block block--vs-small">
	Small
</div>
<div class="c-demo-block block block--vs-medium">
	Medium
</div>
<div class="c-demo-block block block--vs-large">
	Large
</div>