<h2>Video - full width</h2>
<div class="block containerblock">
    {{> c-video data=video.youtube-dark }}
</div>

<h2>Video - inline</h2>
<div class="block containerblock">
    {{> c-video data=video.youtube-dark variant="inline" }}
</div>

<h2>Video - 8 col</h2>
<div class="block containerblock">
    {{> c-video data=video.youtube-dark variant="8col" }}
</div>